.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    margin-right: 30px;
    border-radius: 4px;
    transform: translate(0, 23%);
    float: right;
}

.filters .locations, .filters .amenities {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
    padding-bottom: 17.5px;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters .locations h3, .filters .amenities h3 {
    font-weight: 600;
    margin: 0;
    padding: 17.5px 40px 0 40px;
    
}
.filters .locations h4, .filters .amenities h4 {
    padding: 0 40px 0 40px;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters button:hover {
    opacity: 90%;
}

.popover {
    display: none;
    background: #FAFAFA;
    padding: 0;
    position: absolute;
    list-style-type: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 18px;
    width: 100%;
    padding-bottom: 20px;
}

.popover li {
    padding-left: 40px
}
.popover h2 {
    padding-left: 20px;
    margin: 20px 0 0 0;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}
